@page "/login"
@attribute [AllowAnonymous]

<div class="d-flex flex-center flex-column flex-lg-row-fluid">
    <div class="w-lg-500px pa-md-10 pt-md-16 ">   
        
        <EditForm  Model="loginModel" style="width:100%;">
            <MudText Typo="Typo.h6" GutterBottom="true" Align="Align.Center">Sign In</MudText>
            <DataAnnotationsValidator />
            <MudTextField Class="my-6" Variant="Variant.Outlined" T="string" Label="E-mail" @bind-Value="loginModel.Email" For="@(() => loginModel.Email)" />
            <MudTextField Label="Password"
                Variant="Variant.Outlined"
                @bind-Value="loginModel.Password"
                For="@(() => loginModel.Password)"
                InputType="@passwordInputType"
                Adornment="Adornment.End"
                AdornmentIcon="@passwordInputIcon"
                OnAdornmentClick="TogglePasswordVisibility" />
            <div Class="d-flex justify-space-between">
                <MudLink Href="/authentication/reset-password"><small>Forgot Password?</small></MudLink>
            </div>

            <MudButton Class="mb-4" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" FullWidth="true">Sign In</MudButton>
        </EditForm>
    </div>
</div>