@using Microsoft.AspNetCore.Components.Web

<Fluxor.Blazor.Web.StoreInitializer />
<CascadingAuthenticationState>
    <MudDialogProvider Position="DialogPosition.Center" FullWidth="true" MaxWidth="MaxWidth.Small" />
    <MudSnackbarProvider />
    <MudLayout>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <NetAppThemeProvider />
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </MudLayout>
</CascadingAuthenticationState>
<Loader />