
.mud-navmenu {
	margin: 0;
	position: relative;
	list-style: none;
	overscroll-behavior-y: contain;
}
.mud-nav-group {
	width: 100%;
	display: block;
	justify-content: flex-start;
}
.mud-nav-group > .mud-nav-link > .mud-nav-link-text {
	font-weight: 500;
}
.mud-nav-group * .mud-nav-group > .mud-nav-link > .mud-nav-link-text {
	font-weight: 400;
}
.mud-nav-group * .mud-nav-group > .mud-nav-link.mud-expanded > .mud-nav-link-text {
	font-weight: 500;
}
.mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding-left: 36px;
	padding-inline-start: 36px;
	padding-inline-end: unset;
}
.mud-nav-group-disabled, .mud-nav-group-disabled .mud-nav-link-text, .mud-nav-group-disabled .mud-nav-link-expand-icon, .mud-nav-group-disabled .mud-nav-link-icon {
	color: var(--mud-palette-text-disabled) !important;
	cursor: default;
	pointer-events: none;
}
.mud-nav-item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
}
.mud-nav-link {
	width: 100%;
	font-weight: 400;
	padding: 8px 16px 8px 16px;
	color: inherit;
	line-height: 1.75;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	text-transform: inherit;
	background-color: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	align-items: flex-start;
}
.mud-nav-link.mud-nav-link-disabled {
	color: var(--mud-palette-text-disabled) !important;
	cursor: default;
	pointer-events: none;
}
.mud-nav-link:hover:not(.mud-nav-link-disabled) {
	cursor: pointer;
	text-decoration: none;
	background-color: var(--mud-palette-action-default-hover);
}
.mud-nav-link:focus:not(.mud-nav-link-disabled) {
	background-color: var(--mud-palette-action-default-hover);
}
.mud-nav-link.active:not(.mud-nav-link-disabled) {
	font-weight: 500 !important;
}
.mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
	color: var(--mud-palette-drawer-icon);
}
.mud-nav-link.mud-nav-link-disabled .mud-nav-link-icon {
	color: var(--mud-palette-text-disabled);
}
.mud-nav-link .mud-nav-link-expand-icon {
	color: var(--mud-palette-drawer-icon);
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
}
.mud-nav-link .mud-nav-link-expand-icon.mud-transform {
	transform: rotate(-180deg);
}
.mud-nav-link .mud-nav-link-expand-icon.mud-transform-disabled {
	transform: rotate(-180deg);
}
.mud-nav-link .mud-nav-link-text {
	width: 100%;
	text-align: start;
	margin-left: 12px;
	margin-inline-start: 12px;
	margin-inline-end: unset;
	letter-spacing: 0;
}
.mud-navmenu.mud-navmenu-dense .mud-nav-link {
	padding: 4px 16px 4px 16px;
}
.mud-navmenu.mud-navmenu-margin-dense .mud-nav-link {
	margin: 2px 0;
}
.mud-navmenu.mud-navmenu-margin-normal .mud-nav-link {
	margin: 4px 0;
}
.mud-navmenu.mud-navmenu-rounded .mud-nav-link {
	border-radius: var(--mud-default-borderradius);
}
.mud-navmenu.mud-navmenu-bordered .mud-nav-link.active:not(.mud-nav-link-disabled) {
	border-inline-end-style: solid;
	border-inline-end-width: 2px;
}
.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-primary);
	background-color: var(--mud-palette-action-default-hover);
}
.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: var(--mud-palette-action-default-hover);
}
.mud-navmenu.mud-navmenu-default .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-primary);
}
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-primary);
	background-color: var(--mud-palette-primary-hover);
}
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-primary-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-primary);
}
.mud-navmenu.mud-navmenu-primary .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-primary);
}
.mud-navmenu.mud-navmenu-secondary .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-secondary);
	background-color: var(--mud-palette-secondary-hover);
}
.mud-navmenu.mud-navmenu-secondary .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-secondary .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-secondary-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-secondary .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-secondary);
}
.mud-navmenu.mud-navmenu-secondary .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-secondary);
}
.mud-navmenu.mud-navmenu-tertiary .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-tertiary);
	background-color: var(--mud-palette-tertiary-hover);
}
.mud-navmenu.mud-navmenu-tertiary .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-tertiary .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-tertiary-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-tertiary .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-tertiary);
}
.mud-navmenu.mud-navmenu-tertiary .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-tertiary);
}
.mud-navmenu.mud-navmenu-info .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-info);
	background-color: var(--mud-palette-info-hover);
}
.mud-navmenu.mud-navmenu-info .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-info .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-info-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-info .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-info);
}
.mud-navmenu.mud-navmenu-info .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-info);
}
.mud-navmenu.mud-navmenu-success .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-success);
	background-color: var(--mud-palette-success-hover);
}
.mud-navmenu.mud-navmenu-success .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-success .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-success-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-success .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-success);
}
.mud-navmenu.mud-navmenu-success .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-success);
}
.mud-navmenu.mud-navmenu-warning .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-warning);
	background-color: var(--mud-palette-warning-hover);
}
.mud-navmenu.mud-navmenu-warning .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-warning .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-warning-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-warning .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-warning);
}
.mud-navmenu.mud-navmenu-warning .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-warning);
}
.mud-navmenu.mud-navmenu-error .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-error);
	background-color: var(--mud-palette-error-hover);
}
.mud-navmenu.mud-navmenu-error .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-error .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-error-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-error .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-error);
}
.mud-navmenu.mud-navmenu-error .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-error);
}
.mud-navmenu.mud-navmenu-dark .mud-nav-link.active:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-dark);
	background-color: var(--mud-palette-dark-hover);
}
.mud-navmenu.mud-navmenu-dark .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled), .mud-navmenu.mud-navmenu-dark .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-dark-rgb), 0.12);
}
.mud-navmenu.mud-navmenu-dark .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-dark);
}
.mud-navmenu.mud-navmenu-dark .mud-nav-link-expand-icon.mud-transform {
	fill: var(--mud-palette-dark);
}
.mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding-left: 36px;
	padding-inline-start: 36px;
	padding-inline-end: 16px;
}
.mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding-left: 48px;
	padding-inline-start: 48px;
}
.mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding-left: 48px;
	padding-inline-start: 48px;
	padding-inline-end: 16px;
}
.mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding-left: 60px;
	padding-inline-start: 60px;
	padding-inline-end: 0;
}
.mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding-left: 60px;
	padding-inline-start: 60px;
	padding-inline-end: 16px;
}
.mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding-left: 72px;
	padding-inline-start: 72px;
	padding-inline-end: 0;
}
.mud-drawer-mini .mud-nav-link {
	line-height: 1;
	display: flex;
	align-items: center;
}
.mud-drawer--closed.mud-drawer-mini > .mud-drawer-content > .mud-navmenu .mud-nav-link .mud-icon-root:first-child + .mud-nav-link-text {
	display: none;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group .mud-nav-link {
	padding: 8px 16px 8px 16px;
}
.mud-drawer--closed.mud-drawer-mini .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu > .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
	padding: 8px 16px 8px 16px;
}

