
@inherits LayoutComponentBase
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="auth-container">
        <div class="px-6 py-12">
            @Body
        </div>
    </div>
</div>


@code {

}
