@inherits FluxorComponent
@inject IState<NetAppState> AppState

<MudOverlay Visible="AppState.Value.IsLoading" DarkBackground="AppState.Value.IsDarkMode"  LightBackground="!AppState.Value.IsDarkMode" Absolute="true">
     <div class="loader">
            <span class="loader-text">loading</span>
            <span class="load"></span>
        </div>
</MudOverlay>