<MudNavMenu>

  <NavItem Label="Home" Icon="@Icons.Material.Filled.Home" Href="/"  Match="NavLinkMatch.All"/>
    <NavItem Label="Counter" Icon="@Icons.Material.Filled.Add" Href="counter" />
    <NavItem Label="Fetch" Icon="@Icons.Material.Filled.List" Href="fetchdata" />

</MudNavMenu>
@* <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
data-kt-menu-placement="right-start" class="menu-item py-2" > <!--begin:Menu
link--> <span class="menu-link menu-center"> <span class="menu-icon me-0"> <i
class="fonticon-house fs-1"></i> </span> <span class="menu-title">Home</span>
</span> <!--end:Menu link--> <!--begin:Menu sub--> <div class="menu-sub
menu-sub-dropdown py-4 w-200px w-lg-225px" style=""> <!--begin:Menu item--> <div
class="menu-item"> <!--begin:Menu content--> <div class="menu-content"> <span
class="menu-section fs-5 fw-bolder ps-1 py-1">Home</span> </div> <!--end:Menu
content--> </div> <!--end:Menu item--> <!--begin:Menu item--> <div
class="menu-item"> <!--begin:Menu link--> <a class="menu-link"
href="../../../index.html"> <span class="menu-bullet"> <span class="bullet
bullet-dot"></span> </span> <span class="menu-title">Default</span> </a>
<!--end:Menu link--> </div> <!--end:Menu item--> <!--begin:Menu item--> <div
class="menu-item"> <!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/ecommerce.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span
class="menu-title">eCommerce</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <!--begin:Menu item--> <div class="menu-item">
<!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/projects.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span
class="menu-title">Projects</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/online-courses.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Online Courses</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <!--begin:Menu item--> <div class="menu-item">
<!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/marketing.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span
class="menu-title">Marketing</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <div class="menu-inner flex-column collapse"
id="kt_app_sidebar_menu_dashboards_collapse" > <!--begin:Menu item--> <div
class="menu-item"> <!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/bidding.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span
class="menu-title">Bidding</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/pos.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">POS System</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <!--begin:Menu item--> <div class="menu-item">
<!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/call-center.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span class="menu-title">Call
Center</span> </a> <!--end:Menu link--> </div> <!--end:Menu item-->
<!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/logistics.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Logistics</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <!--begin:Menu item--> <div class="menu-item">
<!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/website-analytics.html"> <span class="menu-bullet">
<span class="bullet bullet-dot"></span> </span> <span class="menu-title">Website
Analytics</span> </a> <!--end:Menu link--> </div> <!--end:Menu item-->
<!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/finance-performance.html" > <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Finance Performance</span> </a> <!--end:Menu link--> </div>
<!--end:Menu item--> <!--begin:Menu item--> <div class="menu-item">
<!--begin:Menu link--> <a class="menu-link"
href="../../../dashboards/store-analytics.html"> <span class="menu-bullet">
<span class="bullet bullet-dot"></span> </span> <span class="menu-title">Store
Analytics</span> </a> <!--end:Menu link--> </div> <!--end:Menu item-->
<!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/social.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Social</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/delivery.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Delivery</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/crypto.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Crypto</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/school.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">School</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../dashboards/podcast.html"> <span
class="menu-bullet"> <span class="bullet bullet-dot"></span> </span> <span
class="menu-title">Podcast</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> <!--begin:Menu item--> <div class="menu-item"> <!--begin:Menu link--> <a
class="menu-link" href="../../../landing.html"> <span class="menu-bullet"> <span
class="bullet bullet-dot"></span> </span> <span
class="menu-title">Landing</span> </a> <!--end:Menu link--> </div> <!--end:Menu
item--> </div> <div class="menu-item"> <div class="menu-content"> <a class="btn
btn-flex btn-color-primary d-flex flex-stack fs-base p-0 ms-2 mb-2 toggle
collapsible collapsed" data-bs-toggle="collapse"
href="#kt_app_sidebar_menu_dashboards_collapse" data-kt-toggle-text="Show Less"
> <span data-kt-toggle-text-target="true">Show 12 More</span> <!--begin::Svg
Icon | path: icons/duotune/general/gen036.svg--> <span class="svg-icon toggle-on
svg-icon-2 me-0"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
xmlns="http://www.w3.org/2000/svg" > <rect opacity="0.3" x="2" y="2" width="20"
height="20" rx="5" fill="currentColor" ></rect> <rect x="6.0104" y="10.9247"
width="12" height="2" rx="1" fill="currentColor" ></rect> </svg> </span>
<!--end::Svg Icon--> <!--begin::Svg Icon | path:
icons/duotune/general/gen035.svg--> <span class="svg-icon toggle-off svg-icon-2
me-0"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
xmlns="http://www.w3.org/2000/svg" > <rect opacity="0.3" x="2" y="2" width="20"
height="20" rx="5" fill="currentColor" ></rect> <rect x="10.8891" y="17.8033"
width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)"
fill="currentColor" ></rect> <rect x="6.01041" y="10.9247" width="12" height="2"
rx="1" fill="currentColor" ></rect> </svg> </span> <!--end::Svg Icon--> </a>
</div> </div> </div> <!--end:Menu sub--> </div> *@ 
