@attribute [AllowAnonymous]
<div class="d-flex flex-column flex-1">
<div class="d-flex flex-column flex-md-row flex-column-fluid" >
  <div class="d-flex flex-column  flex-lg-row-fluid w-lg-50 pa-10 justify-center order-2 order-md-1"  >
    @ChildContent
  </div>
  <div class="d-flex flex-lg-row-fluid w-lg-50 order-1 order-md-2"> 
  </div>

</div>
</div>
