.mud-nav-item,
.mud-nav-group {
    color: #9899ac;
}

.mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
    color: #9899ac;
}

.mud-nav-item:hover,
.mud-nav-group:hover {
    background-color: #1b1b28;
    color: #fff;
}

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: #fff;
    background-color: #1b1b28;
}

.mud-nav-item>.mud-nav-link.active>.mud-nav-link-icon {
    color: var(--mud-palette-primary);
}

.mud-nav-item>.mud-nav-link.active>.mud-nav-link-text {
    color: #fff;
}

.mud-breadcrumb-item.mud-disabled>a {
    color: var(--mud-palette-text-primary);
}

.mud-border-gray {
    border-color: var(--mud-palette-grey-dark) !important;
}

.mud-simple-table table * tr>td,
.mud-simple-table table * tr th {
    border: none;
}

.mud-simple-table table * tr>td:first-child {
    color: var(--mud-palette-text-secondary);
}

/*Loader*/


.loader {
    width: 80px;
    height: 50px;
    position: relative;
    margin: 50vh auto;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: var(--mud-palette-text-primary);
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
}

.load {
    background-color: #1e1e2d;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #9899ac;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

/*End Loader*/




.mud-typography-body2 {
    color: var(--mud-palette-text-secondary);
}

.mud-input-label-outlined {
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
    background-color: transparent;
    padding: 0 5px !important;
}

.top-bar {
    background-color: var(--mud-palette-appbar-background);
    border-top: 2px solid var(--mud-palette-lines-default);
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

.bg-transparent {
    background-color: transparent !important;
}

.bullet {
    display: inline-block;
    width: 8px;
    height: 4px;
    border-radius: 6px;
    background-color: var(--mud-palette-primary);
    margin-right: .2em;
}

@media (min-width:1200px) {

    .h1,
    h1 {
        font-size: 1.75rem
    }


    .h2,
    h2 {
        font-size: 1.5rem
    }

    .h3,
    h3 {
        font-size: 1.35rem
    }
}

.mud-table {
    background-color: transparent;
}

.mud-shrink~label.mud-input-label.mud-input-label-inputcontrol.mud-input-label-outlined,
.mud-input:focus-within~label.mud-input-label.mud-input-label-inputcontrol.mud-input-label-outlined {
    background-color: var(--mud-palette-surface);
}

.mud-input-slot.mud-input-root.mud-input-root-outlined {
    background-color: transparent;
}