<style>
     .menu > .menu-item.here > .menu-link {
        transition: color .2s ease;
        background-color: #1b1b28;
        color: #fff;
    }
     .menu > .menu-item > .menu-link {
        color: #9899ac;
    }
     .menu > .menu-item > .menu-link {
        width: 74px;
        height: 74px;
        margin: 0 auto;
        flex-direction: column;
        display: flex;
        border-radius: .475rem;
    }
    .menu-item .menu-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0;
        flex: 0 0 100%;
        padding: .65rem 1rem;
        transition: none;
        outline: 0 !important;
    }

    .menu-center {
        justify-content: center;
    }
    .menu, .menu-wrapper {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
         .menu > .menu-item.here > .menu-link .menu-icon,  .menu > .menu-item.here > .menu-link .menu-icon .svg-icon,  .menu > .menu-item.here > .menu-link .menu-icon i {
            color: var(--mud-palette-primary);
        }


         .menu > .menu-item > .menu-link .menu-icon,  .menu > .menu-item > .menu-link .menu-icon .svg-icon,  .menu > .menu-item > .menu-link .menu-icon i {
            color: #3a3a5d;
        }

         .menu > .menu-item > .menu-link .menu-icon {
            justify-content: center;
            width: 0;
            margin-bottom: .5rem;
        }

    .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon, .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon .svg-icon, .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon i {
        color: var(--mud-palette-primary);
    }

    .menu-item .menu-link .menu-icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        margin-right: .5rem;
    }

     .menu > .menu-item > .menu-link .menu-icon i {
        font-size: 22px !important;
    }

    .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon, .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon .svg-icon, .menu-state-icon-primary .menu-item.here > .menu-link .menu-icon i {
        color: var(--mud-palette-primary);
    }

     .menu > .menu-item.here > .menu-link .menu-title {
        color: #fff;
    }

      .menu > .menu-item > .menu-link .menu-title {
        color: #9899ac;
    }

    .menu > .menu-item > .menu-link .menu-title {
        flex-grow: 0;
    }

    .menu-state-title-primary .menu-item.here > .menu-link .menu-title {
        color: var(--mud-palette-primary);
    }

    .menu-item .menu-link .menu-title {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    /* center menu-item */
    .menu-item {
        flex: 0 0 100%;
    }
</style>
<div class="menu">

    <div class="menu-item here show py-2">
        <span class="menu-link menu-center">
            <span class="menu-icon me-0">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
            </span>
            <span class="menu-title">Home</span>
        </span>
    </div>
</div>
@code {

}
